# KLOIGOS_DB_URL = "postgres://kloigos:kloigos@localhost:5432/kloigos?sslmode=disable"
KLOIGOS_DB_URL = "postgres://kloigos:kloigos@localhost:26257/kloigos?sslmode=require"

# Base64-encoded 32-byte master key used to encrypt API key secrets at rest.
# Example generation: openssl rand -base64 32
KLOIGOS_MASTER_KEY = "q7+UWYN4Mlz1FMKfzOGO/XN+y7E+ncS4BG3bWtD30s4="
