site_name: kloigos
site_description: Simulator utility for DBMS workloads.
repo_name: fabiog1901/kloigos
repo_url: https://github.com/fabiog1901/kloigos

plugins:
  - search

markdown_extensions:
  - attr_list
  - mkdocs-click
  - admonition
  - pymdownx.details
  - pymdownx.superfences


theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  logo: assets/favicon.png
  favicon: assets/favicon.png
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/lightbulb-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: cyan
      accent: cyan
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: cyan
      accent: cyan 
      toggle:
        icon: material/lightbulb-outline
        name: Switch to system preference
  features:
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    # - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/fabiog1901/kloigos
  - icon: fontawesome/solid/comments
    link: https://github.com/fabiog1901/kloigos/discussions

nav:
  - Home: 
    - index.md
  - use-case.md
  - Docs:
    - docs/deployment.md
    - docs/architecture.md
  - API: api.md
  - about.md

extra_css:
  - css/extra.css